<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUIEqLlDRJho9VlHTgE7GJ1T5idlAxijw</string>
	<key>GCM_SENDER_ID</key>
	<string>861844008019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.desafioFlutterStreamingApp</string>
	<key>PROJECT_ID</key>
	<string>desafio-flutter-streaming-app</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-flutter-streaming-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861844008019:ios:119c4adb9a29f8ec976aa6</string>
</dict>
</plist>